<div class="content_despesas">
  <div class="main_header">
    <finances-app-header-mes></finances-app-header-mes>
    <button
      (click)="adicionarReceita()"
      mat-mini-fab
      color="primary"
      class="add_operacao"
      matTooltip="Adicionar Receita"
      style="background-color:rgb(53, 174, 150)"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="header">
    <finances-app-fit-card
      titulo="Total Pendente"
      valor="6.130,00"
      cor="#323DA4"
      icone="lock"
    ></finances-app-fit-card>

    <finances-app-fit-card
      titulo="Total Recebido"
      valor="6.130,00"
      cor="#35AE96"
      icone="account_balance_wallet"
    ></finances-app-fit-card>
  </div>

  <div class="content" style="width: 100%;">
    <h1 >Despesas</h1>
    <finances-app-listar-receitas
      [receitas]="receitas"
      style="width: 100%;"
    ></finances-app-listar-receitas>
  </div>
</div>
