<div class="content_despesas">
  <div class="main_header">
    <finances-app-header-mes></finances-app-header-mes>
    <button
      (click)="adicionarDespesa()"
      mat-mini-fab
      color="primary"
      class="add_operacao"
      matTooltip="Adicionar Despesa"
      style="background-color:rgb(255, 96, 79)"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="header">
    <finances-app-fit-card
      titulo="Total Pendente"
      valor="6.130,00"
      cor="#323DA4"
      icone="push_pin"
    ></finances-app-fit-card>

    <finances-app-fit-card
      titulo="Total Pago"
      valor="6.130,00"
      cor="#FF604F"
      icone="account_balance_wallet"
    ></finances-app-fit-card>
  </div>

  <div class="content" style="width: 100%;">
    <h1 >Despesas</h1>
    <finances-app-listar-operacoes
      [operacoes]="operacoes"
      tipoOperacao="Despesa"
      style="width: 100%;"
    ></finances-app-listar-operacoes>
  </div>
</div>
