<div class="content_despesas">
  <div class="header">
    <finances-app-fit-card
      titulo="Pendente"
      [loading]="loading"
      [valor]="totalPendente | currency: 'BRL'"
      class="fitcard mr-5"
      cor="#323DA4"
      icone="push_pin"
    >
    </finances-app-fit-card>

    <finances-app-fit-card
      titulo="Recebido"
      [loading]="loading"
      [valor]="totalRecebido | currency: 'BRL'"
      class="fitcard mr-5"
      cor="#35AE96"
      icone="account_balance_wallet"
    >
    </finances-app-fit-card>
    <button
      (click)="adicionarReceita()"
      mat-mini-fab
      color="primary"
      class="add_operacao"
      matTooltip="Adicionar Receita"
      style="background-color: rgb(53, 174, 150);"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="row" style="width: 100%; align-items: start;">
    <div class="col-6">
      <h1>Receitas</h1>
      <mat-progress-bar *ngIf="loading" mode="buffer"></mat-progress-bar>
      <finances-app-listar-operacoes
        *ngIf="!loading && operacoes.length"
        (buscarOperacoes)="buscarReceitas()"
        [mes]="mes"
        [ano]="ano"
        [operacoes]="operacoes"
        tipoOperacao="Receita"
        style="width: 100%;"
      >
      </finances-app-listar-operacoes>
    </div>

    <div class="col-6">
      <ng-container *ngIf="graficoCategoria.series[0].data?.length">
        <div
          id="chart1"
          echarts
          [options]="graficoCategoria"
          [theme]="'dark'"
          [merge]="updateOptions"
          class="demo-chart"
        ></div>
      </ng-container>

      <ng-container *ngIf="graficoBanco.series[0].data?.length">
        <div
          style="margin-top: 50px;"
          id="chart2"
          echarts
          [options]="graficoBanco"
          [theme]="'dark'"
          class="demo-chart"
        ></div>
      </ng-container>
    </div>
  </div>
</div>
