<div class="content_contas">
  <div class="content">
    <h1>Conta</h1>
  </div>
  <ng-container *ngIf="formConta">

    <form
      [formGroup]="formConta"
      autocomplete="off"
      class="formUsuario row col-6"
    >
      <mat-form-field class="col-5">
        <input matInput formControlName="nome" placeholder="Nome" />

        <mat-error>
          {{ formConta.controls['nome']?.errors | errorKeys }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-5">
        <input matInput formControlName="usuario" placeholder="Usuário" />

        <mat-error>
          {{ formConta.controls['usuario']?.errors | errorKeys }}
        </mat-error>
      </mat-form-field>

      <div class="col-2">
        <button
          mat-button
          (click)="atualizarDados()"
          type="submit"
          color="primary"
        >
          Atualizar
        </button>
      </div>
    </form>

    <div class="row">
      <div class="col-12">
        <div class="logout" (click)="logout()">
          <span> sair</span>
          <mat-icon>input</mat-icon>
        </div>
      </div>

    </div>
  </ng-container>
</div>
