.icon {
  background-image: linear-gradient(147deg, #fb7d70 0%, #9a4a42 74%);
}

p {
  font-weight: 500;
  font-size: 18px;
  background: rgb(166 80 72 / 44%);
  color: #fff;
  border-radius: 100px;
  padding: 5px 15px;
}



