.contas {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  .conta {
    cursor: pointer;
    flex-basis: 20%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    background-color: #212121;
    color: #fff;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 10px;
    padding: 0px 9px;
    overflow: hidden;
    min-width: 150px;
    &:hover {
      box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
      transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    }
    .content {
      padding: 16px 16px 24px;

      .imagem {
        position: relative;
        flex-shrink: 0;
        font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI',
          Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
        line-height: 1;
        overflow: hidden;
        user-select: none;
        font-size: 14px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        margin: 18px 9px 9px -4.5px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        padding: 4.5px;
        border-radius: 60px;
        height: 49.5px;
        width: 49.5px;
        background: rgba(34, 51, 84, 0.07);
        max-width: 50px;
      }

      h2 {
        margin: 0px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.334;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      h3 {
        margin: 0px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.75;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: rgb(255 255 255 / 42%);
      }
    }

    .saldos {
      border-radius: 48px;
      opacity: 1;
      margin-top: 20px;

      p > b {
        margin: 0px 0px 4px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.4;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    p {
      margin: 0;
    }
  }
}

h1 {
  font-size: 30px;
  font-weight: 500;
}
.item-50 {
  flex-basis: 50%;
  padding: 0 15px;
  margin-top: 10px;
}
.item-100 {
  flex: 1;
  flex-basis: 100%;
  padding: 0 15px;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .conta {
    flex-basis: 100% !important;
  }
  .contas {
    flex-flow: row wrap !important;
  }
}
