.content {
  display: flex;
  min-height: 100%;
}

@media (min-width: 768px) {
  .main_content {
    padding: 20px 16px 24px;
    width: calc(100% - 200px);
    margin: 0px auto 0px 200px;
    background-color: transparent;
  }
}
@media (max-width: 768px) {
  .main_content {
    margin-bottom: 80px !important;
  }
}

.auth {
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
}
