.content {
  display: flex;
}

@media (min-width: 768px) {
  .main_content {
    padding: 20px 16px 24px;
    width: calc(100% - 250px);
    margin: 0px auto 0px 250px;
    background-color: transparent;
  }
}


.auth {
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
}
