.content {
  display: flex;
}

@media (min-width: 768px) {
  .main_content {
    padding: 20px 16px 24px;
    width: 100%;
    margin: 0px auto;
    margin-left: 290px;
    background-color: transparent;
  }
}


.auth {
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
}
