.icon {
  background-image: linear-gradient(147deg, #21d2af 0%, #36ad96 74%);
}

p {
  font-weight: 500;
  font-size: 18px;
  background: rgb(50 180 155 / 55%);
  color: #fff;
  border-radius: 100px;
  padding: 5px 15px;
}
