<div class="content_home">
  <div class="main_header">
  </div>

  <div class="header">
    <finances-app-fit-card titulo="Saldo em contas" valor="6.130,00" cor="#323DA4" icone="attach_money">
    </finances-app-fit-card>

    <finances-app-fit-card titulo="Receitas neste mês" valor="6.130,00" cor="#35AE96" icone="arrow_upward"
      tooltip="Adicionar Receita" [mostrarBtn]="true" (btnClicado)="cadastrarReceita()"></finances-app-fit-card>

    <finances-app-fit-card titulo="Despesas neste mês" valor="6.130,00" cor="#FF604F" icone="arrow_downward"
      tooltip="Adicionar Despesa" [mostrarBtn]="true" (btnClicado)="cadastrarDespesa()"></finances-app-fit-card>
  </div>

  <div class="row content">
    <!-- <div class="col-6">
      <finances-app-listar-operacoes
        [operacoes]="receitasPendentes"
        tipoOperacao="Receita"
        titulo="Receitas em aberto"
        style="width: 100%;"
      ></finances-app-listar-operacoes>
    </div> -->

    <div class="col-6">
      <finances-app-listar-operacoes [operacoes]="despesas" tipoOperacao="Despesa" titulo="Despesas em aberto"
        style="width: 100%;"></finances-app-listar-operacoes>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <finances-app-indicativos-financeiros></finances-app-indicativos-financeiros>
    </div>
  </div>
</div>
