.content_home {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content {
    margin-top:30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item {
      flex: 1;
      margin: 0 15px;
    }
  }
}
