.content_home {
  padding: 0 50px;
  .main_header {
    margin-bottom: 20px;
  }
  .header-home {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .content {
    margin-top: 40px;
  }
}
h1 {
  font-size: 30px;
  font-weight: 500;
}
.operacoes_content {
  max-height: 471px;
  overflow-y: auto;
}
@media only screen and (min-width: 768px) {
  .saldo, .operacao {
    max-width: 33%;
  }
}
@media only screen and (max-width: 768px) {
  .col-6, .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .operacoes_content {
    margin-top:30px;
    overflow-y: hidden;
  }
  .content {
    margin-top:50px !important;
  }
  .header-home {
    flex-wrap: wrap;
  }
  .saldo {
    width:100% !important;
  }
  .operacao {
    width:50% !important;
  }
}
