<div class="content_home">
  <div class="header">
    <finances-app-fit-card
      titulo="Saldo em contas"
      valor="6.130,00"
      cor="#303881"
      icone="attach_money"
    ></finances-app-fit-card>

    <finances-app-fit-card
      titulo="Receitas neste mês"
      valor="6.130,00"
      cor="#35AE96"
      icone="arrow_upward"
    ></finances-app-fit-card>

    <finances-app-fit-card
      titulo="Despesas neste mês"
      valor="6.130,00"
      cor="#FF604F"
      icone="arrow_downward"
    ></finances-app-fit-card>


  </div>

  <div class="content" style="width: 100%;">
    <div class="item-50">
      <finances-app-despesas-pendentes></finances-app-despesas-pendentes>
    </div>

    <div class="item-50">
      <finances-app-receitas-pendentes></finances-app-receitas-pendentes>
    </div>

    <div class="item-50">
      <finances-app-indicativos-financeiros></finances-app-indicativos-financeiros>
    </div>
  </div>
</div>
