<div class="content_home">
  <div class="main_header"></div>

  <div class="header-home">
    <finances-app-fit-card
      (click)="redirecionar('contas')"
      titulo="Saldo em contas"
      [loading]="loading"
      class="pointer saldo"
      [valor]="saldoContas | currency: 'BRL'"
      cor="#323DA4"
      icone="attach_money"
    >
    </finances-app-fit-card>

    <finances-app-fit-card
      (click)="redirecionar('receitas')"
      titulo="Receitas"
      [loading]="loading"
      class="pointer operacao"
      [valor]="receitasEsteMes | currency: 'BRL'"
      cor="#35AE96"
      icone="arrow_upward"
      tooltip="Adicionar Receita"
      [mostrarBtn]="false"
    >
    </finances-app-fit-card>

    <finances-app-fit-card
      (click)="redirecionar('despesas')"
      titulo="Despesas"
      [loading]="loading"
      class="pointer operacao"
      [valor]="despesasEsteMes | currency: 'BRL'"
      cor="#FF604F"
      icone="arrow_downward"
      tooltip="Adicionar Despesa"
      [mostrarBtn]="false"
    >
    </finances-app-fit-card>
  </div>

  <div class="row content">
    <div class="col-12">
      <mat-progress-bar *ngIf="loading" mode="buffer"></mat-progress-bar>
    </div>

    <ng-container *ngIf="!loading">
      <div class="col-4">
        <h1><span style="color: rgb(119 131 244);">Saldo</span> das Contas</h1>
        <div class="cadastrar_conta" *ngIf="!contas?.length">
          <span style="margin-right: 20px;"
            >Cadastre uma conta para começar</span
          >
          <button
            (click)="adicionarConta()"
            mat-mini-fab
            color="primary"
            matTooltip="Adicionar Conta"
            style="background-color: #323da4;"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <finances-app-listar-contas
          style="width: 100%;"
          [contas]="contas"
          [origin]="'home'"
          (buscarContas)="buscarContas()"
        >
        </finances-app-listar-contas>
      </div>

      <ng-container *ngIf="contas?.length">
        <div class="col-4">
          <h1>
            <span style="color: rgb(53, 174, 150);">Receitas</span> em aberto
          </h1>

          <ng-container *ngIf="!receitasEmAberto?.length">
            <span style="margin-right: 20px;"
              >Cadastre uma receita para este mês</span
            >
            <button
              (click)="adicionarReceita()"
              mat-mini-fab
              color="primary"
              matTooltip="Adicionar Receita"
              style="background-color: rgb(53, 174, 150);"
            >
              <mat-icon>add</mat-icon>
            </button>
          </ng-container>

          <ng-container *ngIf="receitasEmAberto?.length">
            <div class="operacoes_content">
              <finances-app-listar-operacoes
                *ngIf="!loading"
                [origin]="'home'"
                [mes]="mes"
                [ano]="ano"
                [operacoes]="receitasEmAberto"
                tipoOperacao="Receita"
                (buscarOperacoes)="buscarDados()"
                style="width: 100%;"
              >
              </finances-app-listar-operacoes>
            </div>

            <div
              class="all"
              *ngIf="receitasEmAberto?.length > 3"
              routerLink="/dashboard/receitas"
              style="color: rgb(53, 174, 150);"
            >
              exibir todas as receitas ({{ receitasEmAberto?.length }})
            </div>
          </ng-container>
        </div>

        <div class="col-4">
          <h1>
            <span style="color: rgb(255, 96, 79);">Despesas</span> em aberto
          </h1>

          <ng-container *ngIf="!despesasEmAberto?.length">
            <span style="margin-right: 20px;"
              >Cadastre uma despesa para este mês</span
            >
            <button
              (click)="adicionarDespesa()"
              mat-mini-fab
              color="primary"
              matTooltip="Adicionar Despesa"
              style="background-color: rgb(255, 96, 79);"
            >
              <mat-icon>add</mat-icon>
            </button>
          </ng-container>

          <ng-container *ngIf="despesasEmAberto?.length">
            <div class="operacoes_content">
              <finances-app-listar-operacoes
                *ngIf="!loading"
                [origin]="'home'"
                [mes]="mes"
                [ano]="ano"
                [operacoes]="despesasEmAberto"
                tipoOperacao="Despesa"
                (buscarOperacoes)="buscarDados()"
                style="width: 100%;"
              >
              </finances-app-listar-operacoes>
            </div>
            <div
              class="all"
              *ngIf="despesasEmAberto?.length > 3"
              routerLink="/dashboard/despesas"
              style="color: rgb(255, 96, 79);"
            >
              exibir todas as despesas ({{ despesasEmAberto?.length }})
            </div>
          </ng-container>
        </div>
      </ng-container>
      <!--    <div class="col-3" style="margin-top: 50px;">-->
      <!--      <ng-container *ngIf="graficoCategoria.series[0].data?.length">-->
      <!--        <div-->
      <!--          id="chart1"-->
      <!--          echarts-->
      <!--          [options]="graficoCategoria"-->
      <!--          [theme]="'dark'"-->
      <!--          class="demo-chart"-->
      <!--        ></div>-->
      <!--      </ng-container>-->
      <!--    </div>-->
    </ng-container>
  </div>

  <div class="col-6">
    <!--    <finances-app-indicativos-financeiros></finances-app-indicativos-financeiros>-->
  </div>
</div>
