.content_home {
  padding: 0 50px;
  .main_header {
    margin-bottom: 20px;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content {
    margin-top: 40px;
  }
}
