.mat-card {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    font-size: 23px;
    font-weight: bold;
    padding: 10px 5px;
    color: #585858;
  }
}

.fade {
  transition: 1s;
}
