<div class="content_despesas">
  <div class="row" style="width: 100%; align-items: start;">
    <ng-container
      *ngIf="contas.length && despesasTotal.length && receitasTotal.length"
    >
      <div class="col-6">
        <finances-app-receita-x-despesa
          [despesasTotal]="despesasTotal"
          [receitasTotal]="receitasTotal"
        ></finances-app-receita-x-despesa>
      </div>

      <div class="col-6">
        <finances-app-receita-x-despesa-individual
          [contas]="contas"
          [despesasTotal]="despesasTotal"
          [receitasTotal]="receitasTotal"
        ></finances-app-receita-x-despesa-individual>
      </div>
    </ng-container>
  </div>
</div>
