<div class="content_despesas">
  <div class="row" style="width: 100%; align-items: start;">
    <ng-container
      *ngIf="contas.length && despesasTotal.length && receitasTotal.length"
    >
      <div class="col-6">
        <finances-app-receita-x-despesa
          [despesasTotal]="despesasTotal"
          [receitasTotal]="receitasTotal"
          (despesasXMeses)="atribuirDadosDespesas($event)"
          (receitasXMeses)="atribuirDadosReceitas($event)"
        ></finances-app-receita-x-despesa>
      </div>

      <div class="col-6">
        <finances-app-receita-x-despesa-individual
          [contas]="contas"
          [despesasTotal]="despesasTotal"
          [receitasTotal]="receitasTotal"
        ></finances-app-receita-x-despesa-individual>
      </div>

      <div class="col-4">
        <h3>
          Você <span>gasta</span> em média
          <span style="color: #FF6956;">{{
            mediaDespesa | currency: 'BRL'
          }}</span> por mês
        </h3>
      </div>

      <div class="col-4">
        <h3 style="text-align: center;">
          Geralmente <span>sobra </span>
          <span style="color: #fff;">{{
            mediaSobra | currency: 'BRL'
            }}</span> por mês
        </h3>
      </div>

      <div class="col-4">
        <h3 style="text-align: right;">
          Você <span>ganha</span> em média
          <span style="color: #3abfa5;">{{
            mediaReceita | currency: 'BRL'
          }}</span>  por mês
        </h3>
      </div>
    </ng-container>
  </div>
</div>
